/* common css */
body{
    font-family: 'Work Sans', sans-serif;
}
.common{
    width: 80%;
    padding: 20px 10%;
}
*{
    margin: 0;
    padding: 0;
}
p{
    color: rgb(41, 39, 39);
    
}
/* common css */
/* header starts */

header{
    
    
    background-color:#ff8f0e2a;
    margin-top: 0px;
   
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-menu-ul{
display: flex;
justify-content: space-around;

}
.nav-menu-ul li{
    list-style-type: none;
 
}
.nav-menu-ul  a{
    text-decoration: none;
    padding-left: 20px;
    font-size: 12px;
    color: rgb(41, 39, 39);
}
.banner-text{
    text-align: center;
    padding: 50px 10px;
}
.banner-text h1{
    font-size: 3em;
    margin: 0px;
}
.banner-text p{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: #FF900E;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}
.banner-image{
    width: 100%;
    text-align: center;
}
.banner-image img{
    width: 100%;
}
@media screen and (max-width:576px){
    header{
        width: 100%;
        padding: 20px 0px;
    }
    nav{
        flex-direction: column;
        gap: 20px;
    }
    .nav-menu-ul{
        flex-direction: column;
        justify-content: flex-start;

        padding: 0px;
    }
    .nav-menu-ul a{
        font-size: 1em;
    }
    .banner-text p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}
/* header ends */
/* main starts */
main{
    width: 80%;
    padding: 20px 10%;
}
.quick-features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    
    align-items: center;
    padding: 50px 0px;
    
  
    
}
.quick-features-left{
    display: grid;
height: 100%;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2, 200px);

padding: 0px 55px;


gap: 10px;
}
.quick-features-left img{
   height: 100%;
  
}
.quick-features-right h2{
font-size: 2em;
}
.quick-features-right span{
    color:rgb(41, 39, 39) ;
}
.second-h2{
    color: #FF900E;
}
.quick-features-right p{
    color: rgb(41, 39, 39);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
}
@media screen and (max-width:576px) {
    .quick-features{
        grid-template-columns: repeat(1,1fr);
    }
    .quick-features-left{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, 400px);
        padding: 0px;
    }
    .quick-features-left img{
        width: 100%;
    }
    .quick-features-right{
        text-align: center;
    }
    .quick-features-right  p{
        padding-right: 0px;
    }
}
/* love features starts */
img{
    width: 100%;
    height: 100%;
}
.love-features{
display: grid;
grid-template-columns: repeat(2 ,1fr);
gap: 80px;
position: relative;
}
.experience-btn{
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 50%;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
}

.text-div{
    margin-top: 20px;

}
.love-features-left-text{
    margin-bottom: 20px;

 border-radius: 5px;
 padding: 20px;
 box-shadow: 10px 10px 20px rgb(250, 242, 242);
 
}
.love-features-left-text p{
   padding-top: 15px;
}
.love-features-left-text h4{
   margin: 0;
   padding: 0;
}
.love-features-left-h2{
    margin-top: 20px;
    padding-left: 20px;
    border-left: 2px solid #FF900E;
    
}
.love-features-left-p{
    padding-top: 30px;
}

.love-features-right{
    height: 700px;
}
@media screen and (max-width:576px) {
    .love-features{
     grid-template-columns: repeat(1,1fr);
    }
    .love-features-right{
        height: 400px;
    }
    .experience-btn{
        
        left: 23%;
        bottom: -100px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
/* love features ends */
/* factpart starts */
.fact{
    margin-bottom: 100px;
}
.fact-text{
    padding: 50px 0px;
}
.fact-icons{
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1 , 150px);
    padding: 0px 50px;
    margin: 50px 0px;
}
.fact-icon{
    text-align: center;
    padding: 10px;
    padding-top: 30px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    transition: transform .5s linear ;
}
.fact-icon:hover {
    transform: scale(1.5);
}
.fact-icon img{
    width: 30px;
    height: 30px;
}
@media screen and (max-width:576px){
    .fact-text{
        padding-top: 150px;
    }
    .fact-icons{
        grid-template-columns: repeat(1,1fr);
        margin: 0;
        gap: 50px;
    }
    .fact-icon{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
/* factpart ends */
/* gallery part starts */
.gallery{
    margin-bottom: 50px;
}
.gallery-text{
    margin-bottom: 80px;
}
.gallery-image{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(1,300px);
    gap: 20px;
}
.gallery-image img{
    height: 100%;
    width: 100%;

}
.btn-gallery{
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width:576px){
    .gallery-image{
        grid-template-columns: repeat(1,1fr);
    }
}

/* gallery part ends */
/* sponsors part starts */
.sponsors{
    margin-bottom: 50px;
}
.sponsors-text{
    text-align: center;
    margin-bottom: 60px;
}
.sponsors-text h2{
    margin-bottom: 15px;
}
.sponsors-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    
    gap: 20px;
    padding-left: 70px;
}
.sponsors-image img{

    width: 100px;
    height: 50px;
    
}
@media screen and (max-width:576px){
    .sponsors-image{
        grid-template-columns: repeat(1,1fr);
    padding-left: 0px;
    justify-items: center;
    }
}
/* sponsors ends */
/* main ends */
/* footer starts */
footer{
    width: 80%;
    background-color: #ff8f0e2a;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    
}
footer p{
    padding-top: 30px;

}
@media screen and (max-width:576px){
    footer p{
        font-size: .5em;
    }
    footer{
        width: 100%;
    }
}
/* footer ends */